<h1>여기는 글쓰는 곳입니다.</h1>

<form action="result" method="POST">  <!-- 글이 길어지면 POST이용-->
    <br>제목 : <input type="text" name="title">
    <br>내용 : <input type="text" name="content">
    <br><br><input type="submit" value="글쓰기"> <!--버튼 넣어주기 value로 버튼 이름지정-->
</form>